{% import "macros/macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="de">
<html class="dark light">

{% include "partials/header.html" %}

<body onload="updatelanguage()">
    <div class="content">
        {% include "partials/nav.html" %}

        {# Post page is the default #}
        {% block main_content %}
            Nothing here?!
        {% endblock main_content %}

        {% if page.extra.comment is defined  %}
            {% set show_comment = page.extra.comment %}
        {% else %}
            {% set show_comment = false %}
        {% endif %}

        {% if show_comment %}
        <br>
        <hr>
        <div class="giscus" >
        {% include "_giscus_script.html" %}
    </div>
    <br>
    <br>
    <br>
        {% endif %}

    </div>
</body>

</html>
